* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'norse-bold';
  src: url('fonts/Norse-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-wrap: row wrap;
}

.left-container {
  background-image: url('./img/halie-west-25xggax4bSA-unsplash.jpg');
  width: 40%;
  position: relative;
}

.left-container div {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  position: relative;
  top: 10%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.credits {
  color: white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10px;
}

.credits a {
  color: white;
}

.credits a:hover {
  font-weight: bold;
}

.logo {
  height: 120px;
  width: auto;
}

.header {
  color: white;
  text-align: center;
  font: 5em 'norse-bold';
  margin-left: 20px;
}

.right-container {
  display: flex;
  flex-flow: column nowrap;
  width: 60%;
  height: 100%;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
}
